# DBMATE environment variables
DBMATE_MIGRATIONS_DIR=backend/db/migrations
DBMATE_SCHEMA_FILE=backend/db/schema.sql
# DATABASE_URL=... 

# Enable rust debug logging for dev
# https://docs.rs/env_logger/latest/env_logger/#enabling-logging
RUST_LOG=debug

# Environment for backend server
# Go check out backend/src/config.rs

PORT=8000
DATABASE_URL=postgres://salauskilke:secret@localhost:5432/salauskilke?sslmode=disable