<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:,">

    {{ if .DevMode }}
    <script type="module" src="http://localhost:8081/@vite/client"></script>
    <script type="module" src="http://localhost:8081/client.ts"></script>
    {{ else }}
    <script type="module" src="/static/build/client.mjs"></script>
    <link href="/static/build/client.css" rel="stylesheet">
    {{ end }}

    <title>Salauskilke</title>

</head>

<body>
    <main>
        <h1 class="text-4xl font-bold text-blue-500">Hello</h1>
        <button hx-get="/hello">Get Some HTML</button>
        <button data-action="test">test</button>
    </main>
</body>

</html>